asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
backports.weakref==1.0rc1
bleach==1.5.0
certifi==2017.11.5
cffi==1.10.0
chardet==3.0.4
click==6.7
constantly==15.1.0
crypto==1.4.1
cryptography==2.0.2
cssselect==1.0.1
defusedxml==0.5.0
Flask==0.12.2
Flask-Dropzone==1.4.1
grab==0.6.38
html5lib==0.9999999
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
itsdangerous==0.24
Jinja2==2.10
jsonify==0.5
lxml==3.8.0
Markdown==2.6.8
MarkupSafe==1.0
Naked==0.1.31
numpy==1.13.1
pandas==0.20.3
parsel==1.2.0
protobuf==3.3.0
pyasn1-modules==0.0.10
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0
PyDispatcher==2.0.5
PyMySQL==0.8.0
pyOpenSSL==17.2.0
PyQt5==5.9.2
pytils==0.3
pytz==2017.2
PyYAML==3.12
queuelib==1.4.2
requests==2.18.4
Scrapy==1.4.0
selection==0.0.13
service-identity==17.0.0
shellescape==3.4.1
sip==4.19.6
tensorflow==1.2.1
Twisted==22.1.0
urllib3==1.22
user-agent==0.1.9
virtualenv==15.1.0
w3lib==1.17.0
weblib==0.1.25
Werkzeug==0.12.2
xlrd==1.0.0
zope.interface==4.4.2