<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An encrypted file sharing application based on arbitrary encryption algorithms">
    <title>Nyxae encrypted</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../static/img/mobile-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../static/img/mobile-desktop.png">

    <!--3rd Party-->
    <link rel="shortcut icon" type="image/ico/" href="../static/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!--3rd Party-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!--Customized-->
    <link rel="stylesheet" type="text/css" href="../static/css/materiald.css" charset="utf-8">

    <!--fgp.css-->
    <link rel="stylesheet" type="text/css" href="../static/css/fgp.css" charset="utf-8">

</head>


<body>
<div class="d-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="d-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Fingerprint</span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">About</li>
                <li class="mdl-menu__item">Contact</li>
            </ul>
        </div>
    </header>

    <div class="d-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="d-drawer-header">
            <h3>nyxae</h3>
            <div class="d-avatar-dropdown">
                <span>`For Encrypted File Sharing</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_right_left</i>
                </button>
            </div>
        </header>

        <nav class="d-navigation mdl-navigation mdl-color--blue-grey-800">
            <a class="mdl-navigation__link" href="./index.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">backup</i>Application</a>
            <a class="mdl-navigation__link" href="./fgp.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">fingerprint</i>Fingerprint</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">details</i>Project Details</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">developer_board</i>Architecture</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">system_update_alt</i>Updates</a>
            <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person</i>About</a>
            <div class="mdl-layout-spacer"></div>
            <a class="mdl-navigation__link" href="https://github.com/salmansamie/nyxae/blob/master/LICENSE"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">copyright</i><span class="">GNU GPL v3.0</span> </a>
        </nav>
    </div>

    <main class="mdl-layout__content mdl-color--grey-900" style="background: linear-gradient(to right, #4568dc, #b06ab3); color: #D7D7EF; font-family: 'Lato', sans-serif;">

            <!--MAIN START-->
            <hr/>
            <div class="info-big" style="margin-left: 30px;">Session Fingerprint:</div><div id="fingerprint" class="fp"></div>
            <br/>
            <hr/>
        <div style="margin-left: 30px;">
            <br/>
            <div class="info">Browser:</div><div id="browser" class="fp"></div>
            <br/>
            <div class="info">Flash:</div><div id="flash" class="fp"></div>
            <br/>
            <div class="info">Canvas:</div><div id="canvas" class="fp"></div>
            <br/>
            <div class="info">Connection:</div><div id="connection" class="fp"></div>
            <br/>
            <div class="info">Cookie:</div><div id="cookie" class="fp"></div>
            <br/>
            <div class="info">Display:</div><div id="display" class="fp"></div>
            <br/>
            <div class="info">Font Smoothing:</div><div id="fontsmoothing" class="fp"></div>
            <br/>
            <div class="info">Fonts:</div><div id="fonts" class="fp"></div>
            <br/>
            <div class="info">Form Fields:</div><div id="formfields" class="fp"></div>
            <br/>
            <div class="info">Java:</div><div id="java" class="fp"></div>
            <br/>
            <div class="info">Language:</div><div id="language" class="fp"></div>
            <br/>
            <div class="info">Silverlight:</div><div id="silverlight" class="fp"></div>
            <br/>
            <div class="info">OS:</div><div id="os" class="fp"></div>
            <br/>
            <div class="info">Time Zone:</div><div id="timezone" class="fp"></div>
            <br/>
            <div class="info">Touch:</div><div id="touch" class="fp"></div>
            <br/>
            <div class="info">True Browser:</div><div id="truebrowser" class="fp"></div>
            <br/>
            <div class="info">Plug Ins:</div><div id="plugins" class="fp"></div>
            <br/>
            <div class="info">User Agent:</div><div id="useragent" class="fp"></div>

            <!--MAIN END-->

        </div>
    </main>
</div>

<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="../static/js/fgrp_logic.js" charset="utf-8"></script>

</body>
</html>